.cake_display {
  height: 100%;
}
.cake_display_title {
  font-family: 'Dancing Script', cursive;
  font-size: 3rem;
  color: brown;
}
.cake_display_image_div {
  padding: auto;
  height: 21rem;
  width: 80%;
  margin: 10% 10%;
  background-color: pink;
  border-radius: 5px;
}

.cake_display_image {
  margin-top: 2rem;
  height: 17rem;
  border-radius: 5px;
}

.yum_factor_title {
  font-family: 'Dancing Script', cursive;
  font-size: 3rem;
  color: brown;
  margin-bottom: 0.6rem;
}

.yum_factor_rating {
  font-size: 2.6rem;
}

.yum_factor_bottom_block {
  padding-bottom: 0rem;
}

.cake_buttons_div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 1300px) {
  .cake_display_image_div {
    width: 50%;
    margin: 1rem 25%;
  }
}
