.cake_form {
  position: relative;
  width: 70%;
  min-height: 19rem;
  margin-left: 15%;
  margin-top: 2rem;
  border-radius: 5px;
  padding: 1rem;
  border: 2px brown solid;
}

.cake_form_label {
  font-size: 1.4rem;
  color: brown;
  font-family: 'Patrick Hand', cursive;
}

.cake_form_label_div {
  height: 2.2rem;
  text-align: center;
}

.cake_form_text_input {
  height: 1.6rem;
}

.cake_form_comment {
  width: 100%;
  height: 5rem;
}

.cake_form_title {
  font-family: 'Dancing Script', cursive;
  font-size: 3rem;
  color: brown;
  margin-top: 1rem;
}

.err_msg_div {
  min-height: 5rem;
  width: 80%;
  margin: 0 10%;
  background-color: white;
  padding: auto;
  border-radius: 5px;
}

.err_msg {
  padding-top: 1.3rem;
  color: rgb(255, 0, 0);

  font-size: 1.3rem;
  font-weight: bold;
}

@media (min-width: 800px) {
  .cake_form_comment {
    width: 60%;
    height: 5rem;
  }

  .err_msg_div {
    width: 50%;
    margin: 0 25%;
  }
}
@media (max-width: 475px) {
  .cake_form {
    width: 90%;
    margin: 0 5% 1rem 5%;
  }
  .cake_form_label_div {
    margin-bottom: 0.6rem;
  }
}
