.layout {
  min-height: 100vh;
  margin: 0 20%;
  text-align: center;
  background-color: white;
  /* background-color: rgb(214, 101, 101); */
}

.border {
  height: 1px;
  margin-top: 1rem;
  border-top: 1px #a23b72 solid;
}

.sm_icon:hover {
  cursor: pointer;
}

.footer {
  width: 70%;
  margin: 3rem 15% 2rem 15%;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 790px) {
  .layout {
    margin: 0;
    margin-bottom: -2rem;
  }
}
