.cakesContent {
  margin-top: 2rem;
}

.buttons {
  border-radius: 10px;
  font-family: 'Patrick Hand', cursive;
}

.buttons:hover {
  outline: none;
  cursor: pointer;
}

.new_cake_button {
  color: white;
  font-size: 1.3rem;
  background-color: rgb(214, 101, 101);
  height: 2.5rem;
  width: 50%;
  border: 2px solid white;
  margin-top: 15px;
}
.new_cake_button:hover {
  background-color: rgb(204, 65, 65);
}

.new_cake_button {
  margin-bottom: 1.2rem;
}

.cakeDiv {
  height: 25rem;
  width: 80%;
  margin: 0 10%;
  margin-bottom: 2rem;
  padding-top: 3rem;
  background-color: bisque;
  border-radius: 10px;
}

.cake_image {
  height: 100%;
  border-radius: 10px;
}

.cake_title {
  margin-top: 1.2rem;
  color: rgb(204, 65, 65);
  font-family: 'Patrick Hand';
  font-size: 1.8rem;
}

.cake_image_div {
  height: 17rem;
  width: 80%;
  margin: 0 10%;
}

.cakesContent {
  height: auto;
  padding-bottom: 2rem;
}

.cake_display_comment {
  width: 80%;
  margin: 5% 10%;
  padding: 10% 10%;
  overflow-wrap: break-word;
  background-color: white;
  border-radius: 5px;
  font-family: 'Handlee', cursive;
  font-size: 1.2rem;
}

.cake_display_comment_div {
  height: auto;
  line-height: 1.4;
}
.cake_comment_header {
  font-family: 'Dancing Script', cursive;
  font-size: 3rem;
  color: bisque;
}

.welcomeMessage {
  width: 98%;
  margin: 0;
  padding: 5% 10%;
  overflow-wrap: break-word;
  border-radius: 5px;
  font-family: 'Handlee', cursive;
  font-size: 1.4rem;
  color: rgb(248, 231, 210);
}

.welcomeMessageDiv {
  height: auto;
  line-height: 1.4;
}

@media (min-width: 1300px) {
  .cakeDiv {
    width: 50%;
    margin: 0 25% 4rem 25%;
    padding: 4%;
  }

  .cake_title {
    margin-top: 0.4rem;
  }

  .cake_display_comment {
    width: 60%;
    margin: 5% 20%;
  }
}

@media (max-width: 375px) {
  .cake_image {
    height: 90%;
  }
}
